# Подготовка данных

- уменьшение размера выборки пользователей для ускорения обучения модели

In [1]:
import pandas as pd
import numpy as np
import sys
sys.path.append('../')
from recsys import config

2024-12-10 01:12:20.396 | INFO     | recsys.config:<module>:11 - PROJ_ROOT path is: /home/etarasov/recsys

In [ ]:
RANDOM_SEED = 42
np.random.seed(RANDOM_SEED)
CUSTOMER_CNT = 1000

In [4]:
customers = pd.read_csv(config.EXTERNAL_DATA_DIR / "customers.csv")[:1000]

In [5]:
customers.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,NaN,ACTIVE,NONE,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0,1.0,ACTIVE,Regularly,52.0,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...

In [8]:
transactions = pd.read_csv(config.EXTERNAL_DATA_DIR / "transactions_train.csv")
filtered_transactions = transactions[transactions['customer_id'].isin(customers['customer_id'])]

In [9]:
filtered_transactions.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20932 entries, 0 to 31755467
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   t_dat             20932 non-null  object
 1   customer_id       20932 non-null  object
 2   article_id        20932 non-null  int64
 3   price             20932 non-null  float64
 4   sales_channel_id  20932 non-null  int64
dtypes: float64(1), int64(2), object(2)
memory usage: 981.2+ KB

## Сохранение датасета для работы

In [11]:
customers.to_csv(config.RAW_DATA_DIR / "customers.csv", index=False)
filtered_transactions.to_csv(config.RAW_DATA_DIR / "transactions.csv", index=False)