In [1]:
import pandas as pd
import sys
sys.path.append("../")
from recsys import config

2024-12-16 19:21:48.761 | INFO     | recsys.config:<module>:11 - PROJ_ROOT path is: /home/artem216/transformer-recsys

# Preproc

In [3]:
# Загрузка данных
transactions = pd.read_csv(config.PROCESSED_DATA_DIR / 'tx.csv')

# Преобразование столбца t_dat в формат временной метки
transactions['t_dat'] = pd.to_datetime(transactions['t_dat'])

# Сортировка по значению t_dat
transactions = transactions.sort_values(by='t_dat')

# Группировка по customer_id и создание списка покупок
grouped_transactions = transactions.groupby('customer_id')['article_id'].apply(list).reset_index()

# Переименование столбца
grouped_transactions.columns = ['customer_id', 'articles']

# Сохранение отфильтрованного датасета
grouped_transactions.to_csv(config.PROCESSED_DATA_DIR / 'grouped_transactions.csv', index=False)

In [11]:
grouped_transactions.head(10)

,customer_id,articles
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,"[568601006, 568601006, 745232001, 795440001]"
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,"[673677002, 723529001, 640021012, 351484002, 6..."
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,"[351484002, 351484002, 723529001]"
3,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,[730683050]
4,000064249685c11552da43ef22a5030f35a147f723d5b0...,"[738133005, 680265002]"
5,0000757967448a6cb83efb3ea7a3fb9d418ac7adf2379d...,"[715624008, 719530003, 448509014]"
6,00007d2de826758b65a93dd24ce629ed66842531df6699...,"[349301001, 351933001, 578478001, 730683001, 1..."
7,00008469a21b50b3d147c97135e25b4201a8c58997f787...,[673677004]
8,0000945f66de1a11d9447609b8b41b1bc987ba185a5496...,[760084003]
9,00009d946eec3ea54add5ba56d5210ea898def4b46c685...,"[573085010, 573085010, 643985001, 636455003, 5..."

In [26]:
max_lenght = grouped_transactions["articles"].apply(lambda x: len(x)).max()
max_lenght

np.int64(662)

In [ ]:
mask = grouped_transactions["articles"].

In [36]:
foo_df = grouped_transactions[grouped_transactions['articles'].map(len) > 2]

# Train test split

In [42]:
import numpy as np

In [47]:
test_size = 0.2
num_samples = foo_df.shape[0]
num_test_samples = int(num_samples * test_size)
random_state = 42

# Перемешивание индексов
np.random.seed(random_state)
indices = np.arange(num_samples)
np.random.shuffle(indices)

In [48]:
# Разделение индексов на обучающую и тестовую выборки
test_indices = indices[:num_test_samples]
train_indices = indices[num_test_samples:]

X_train = foo_df.iloc[train_indices]
X_test = foo_df.iloc[test_indices]

In [50]:
X_train.to_csv(config.PROCESSED_DATA_DIR / "x_train_ids.csv")
X_test.to_csv(config.PROCESSED_DATA_DIR / "x_test_ids.csv")